.app {
  margin: 20px auto;
  width: 350px;
}
.app-form {
  padding: 25px;
  background-color: black;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #7289a8;
  min-width: 350px;
}
